@import "variables";

@mixin border($size:1px, $color:white) {
  border: $size solid $color;
}

@mixin flex($direction: space-between) {
  display: flex;
  align-items: center;
  justify-content: $direction;
}

@mixin poppins($size:$paragraph , $weight:$regular) {
  font-size: $size;
  font-weight: $weight;
  color: $text-color;
}


// grid container 

@mixin grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 23.75rem;
  grid-template-areas: "trainer-1 trainer-2 trainer-3";
  gap: 3rem; 
}

// grid area background 

@mixin grid-area-background($grid-area, $img-path) {
  position: relative;
  grid-area: $grid-area;
  @include background-img($img-path);
}

@mixin background-img($url) {
  background-image: url($url);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

// align-center
@mixin align-center {
    text-align: center;
}

// name tag
@mixin name-tag {
  padding: 1.25rem 0;
  width: 100%;
  position: absolute;
  bottom: 0;
  @include poppins(1.2rem, $medium);
  background-color: $light-black;
  backdrop-filter: blur(6px);
}

@mixin transition {
  transition: all 0.3s ease 0s;
}

@mixin hover {
  transform: translateY(-5%);
}