@import "variables";

@mixin border($size:1px, $color:white) {
  border: $size solid $color;
}

@mixin flex($direction: space-between) {
  display: flex;
  align-items: center;
  justify-content: $direction;
}

@mixin poppins($size:$paragraph , $weight:$regular) {
  font-size: $size;
  font-weight: $weight;
  color: $text-color;
}

@mixin background-img($url) {
  background-image: url($url);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}