@import "mixin";
@import "variables";

.trainers-content {
  padding-bottom: 10rem;
}

.title {
  padding: 5rem 0;
  @include poppins($title, $medium);
}

.grid-container{
  @include grid-container;
  grid-template-areas: "trainer-1 trainer-2 trainer-3";
}

.trainer-1{
  @include grid-area-background(trainer-1, "../img/trainer-1.jpg");
  @include transition;
  &:hover{
    @include hover;
  }
}

.trainer-2{
  @include grid-area-background(trainer-2, "../img/trainer-2.jpg");
  @include transition;
  &:hover{
    @include hover;
  }
}

.trainer-3{
  @include grid-area-background(trainer-3, "../img/trainer-3.jpg");
  @include transition;
  &:hover{
    @include hover;
  }
}

.trainer-name{
  @include align-center;
}

.name{
  @include name-tag;
}