// colors
$background-color : #202020;
$primary-color : #f0542d;
$text-color : #ffffff;
$navbar-color: #242524;
$navbar-color-transparent: rgba(36, 37, 36, .8);
$light-black: rgba(0, 0, 0, 0.63);
$card-color: #171717;

// font sizes 
$title : 3.1rem;
$paragraph : 1rem;
$button : 1.8rem;
$banner : 7rem;

// font weight 
$light: 300; //(light)
$regular: 400; //(regular)
$medium: 500; //(medium)
$semi-bold: 600; //(semi-bold)

// subscription button size

$subscription-button: 0.5rem 1.5rem;