// utilities 
@import "mixin";
@import "variables";

// sections 
@import "header";
@import "main";
@import "trainers";
@import "session";
@import "branch";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: $background-color;
  font-family: 'Poppins', sans-serif;
  @include poppins;
}

.container{
  padding: 0 15%;
}