@import "header";
@import "mixin";
@import "variables";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: $background-color;
  font-family: 'Poppins', sans-serif;
  @include poppins;
}

.container{
  padding: 0 10%;
  @include border;
}