// utilities 
@import "mixin";
@import "variables";

// sections 
@import "header";
@import "main";
@import "trainers";
@import "session";
@import "branch";
@import "plans";
@import "subscribe";
@import "footer";

html{
  scroll-behavior: smooth;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: $background-color;
  font-family: 'Poppins', sans-serif;
  @include poppins;
}

.container{
  padding: 0 15%;
}

.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 0.8s ease 0s;
}

.reveal.active{
  transform: translateY(0px);
  opacity: 1;
}